

@using Microsoft.AspNetCore.Http
@model Document

@{
    Layout = "_MainLayout";
}


<form class="form" method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="New">
<div class="shadow container rounded bg-white mt-5" style="width: 70vw;">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <input type="file" id="document" name="content" class="d-none" >
                    <label for="document" class="btn btn-primary mt-3" style="cursor:pointer;">Upload Document</label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <a asp-controller="Subject" asp-action="Details" asp-route-id="@ViewBag.CourseId" class="text-decoration-none">
                            <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                                <h6>Back to Subject Page</h6>
                            </div>
                        </a>
                        <h6 class="text-right">Adding New Document</h6>
                    </div>
                    <div class="row mt-2 form-group">
                    
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label asp-for="Title"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Title" class="form-control"/>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <input name="courseId" value="@ViewBag.CourseId" class="form-control" type="hidden"/>
                    
                    <div class="mt-5 text-right"><input type="submit" class="btn btn-success pr-5 pl-5 pt-2 pb-2" value="Add Document"></div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}